absl-py
attrs
cffi
contourpy
cycler
flatbuffers
fonttools
joblib
kiwisolver
matplotlib
numpy
opencv-contrib-python
opencv-python
packaging
pandas
pillow
protobuf
pycparser
pyparsing
python-dateutil
pytz
pyvirtualcam
scikit-learn
scipy
six
sounddevice
threadpoolctl
tzdata
cvzone
mediapipe
